{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Main CSS -->
        <link href="{% static 'website/assets/css/main.css' %}" rel="stylesheet" >
        <title>{{ title|default:"UNA" }}  </title>
        {% block 'header' %}

        {% endblock %}
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navigation">
         {% include 'website/sections/preloader.html' %}


        {% include 'website/partials/menu.html' %}


        {% block 'contenu_principal' %}

        {% endblock %}



        {% include 'website/partials/footer.html' %}

        <!-- TO TOP STARTS
            ========================================================================= -->
        <a href="#home" class="back-to-top"><i class="las la-angle-up"></i></a>
        <!-- /.. TO TOP ENDS
            ========================================================================= -->

        <!-- INCLUD ALL JS FILES
            ========================================================================= -->
        {% block 'script' %}
                {% include 'website/partials/script_index.html'  %}
        {% endblock %}

    </body>
</html>