{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Main CSS -->
        <link href="{% static 'assets/css/main.css'%}" rel="stylesheet" >
        <title>Logistics & transportation shipping website template</title>
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navigation">
        {% include 'website/sections/preloader.html' %}
       {% include 'website/partials/menu.html' %}
       {% include 'website/sections/banners2.html' %}
        {% include 'website/sections/blog-single2.html' %}
         {% include 'website/partials/footer.html' %}
        <!-- TO TOP STARTS
            ========================================================================= -->
        <a href="#top" class="back-to-top"><i class="las la-angle-up"></i></a>
        <!-- /.. TO TOP ENDS
            ========================================================================= -->
        <!-- INCLUD ALL JS FILES 
            ========================================================================= -->
        {% include 'website/partials/script.html' %}
    </body>
</html>