{% load static %}
        <div class="inner-banner-style banner-img-04" id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info text-center animated" data-animation="fadeInUp" data-animation-delay="200">
                            <div class="lrline pb-3"><span>Best Crew</span></div>
                            <h2>Our Team</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <